// By default, the sprite assets shouuld be scaled x2 global
// Just in case this needs tweaking though, here are scaling styles

@for $i from 1 through 4 {
  .scale-#{$i} {
    .sprite {
      font-size: #{$i}rem;
    }
  }
}

.sprite {
  .fire {
    width: 23em;
    height: 17em;
    background: url('./assets/images/sprite_fire.png') -184em 0 no-repeat transparent;
    animation: fireGoing steps(1) 450ms infinite alternate;
    background-size: 322em 17em;
  }
}

@keyframes fireGoing {
  0% { background-position: -161em 0; }
  20% { background-position: -184em 0; }
  40% { background-position: -207em 0; }
  60% { background-position: -230em 0; }
  80% { background-position: -253em 0; }
  100% { background-position: -276em 0; }
}
